@charset "utp-8";

@font-face {
    font-family: 'Hanna',sans-serif;
    src: url(//fonts.googleapis.com/earlyaccess/hanna.css);
}

body {
    background-color: beige;
    font-family: 'Hanna', sans-serif;
}

h1 {
    color:black;
    font-size:32px;
}

.basic-input{
    width : 300px;
    height : 40px;
    margin-bottom: 10px;
    font-size:20px;
}

.basic-button{
    width : 300px;
    height : 40px;
    font-size : 20px;
    background-color :rgb(215,  215, 182);
    margin-bottom:10px;
}

.basic-form{
    width : 400px;
    border : 0;
    padding : 10px;
    border-radius : 15px;
    margin : auto;
    text-align : center;
    margin-top: 70px;
}
.all-form{
  border : 0;
  padding : 10px;
  border-radius : 15px;
  margin : auto;
  text-align : center;
  margin-top: 70px;
}

body {
    background: beige;
  }
  

  


